body{
    background-image: url(/images/white_00032.jpg);
    background-size: cover;
}

.logo{
	text-align: center;
}

.logo img{
	width: 60px;
}

.logo:hover{
	opacity:0.7;
	cursor: pointer;
}
 

.logo:active{
	position: relative;
	top: 3px;
}

.store img{
	width: 300px;
	height: 300px;
}
