body{
  background-image: url(/images/white_00032.jpg);
  background-size: cover;
}

.logo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.logo img{
    width: 60px;
}

.logo a:hover{
	opacity:0.7;
	cursor: pointer;
}
 

.logo a:active{
	position: relative;
	top: 3px;
}

ul{
    display: flex;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    background-color: white;
}
ul li{
    flex: auto;
    list-style: none;
    min-width: 50px;
}
ul li a{
    margin: auto;
    display: block;
    width: 80%;
    padding: 10px 0;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

ul li:hover{
    background-image: linear-gradient(#808080, #C0C0C0, #FFFFFF);
}

.store_title{
    padding: 50px;
}

.store_name{
    opacity: 0.7;
    text-align: center;
    padding: 70px;
}

.store_edit{
    display: flex;
    padding-top: 30px;
    padding-left: 420px;
}

.store_edit a:hover {
    text-decoration: none;
    background-image: linear-gradient(#C0C0C0, #808080, #444444);
}

.like{
    float: right;
    padding-right: 30px;
}

.like img{
    width: 40px;
}

.slider img{
    height: 500px;
}

.bx-wrapper{
    width:45%;
    float:right;
    margin-right: 70px;
}

.content_store{
    padding-left: 50px;
    padding-bottom: 20px;
}

.content_store h4{
    opacity: 0.8;
}

.content_store p{
    padding-left: 30px;
    font-size: 18px;
    opacity: 0.8;
}

.content_store span{
    font-size: 18px;
    margin-left: 30px;
    opacity: 0.8;
}


.map_title{
    opacity: 0.7;
    text-align: center;
    padding: 120px;
}

.review-list h1{
    opacity: 0.7;
    text-align: center;
    padding: 120px;
}

.edit a:hover {
    text-decoration: none;
    background-image: linear-gradient(#C0C0C0, #808080, #444444);
}

.edit{
    display: flex;
    padding-left: 30px;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    gap:70px;
    margin: 60px;
}

.review {
    padding: 30px;
    width: 550px;
    height: 400px;
    background-color: #fff;
    border: double 5px #000;
}

.review span{
    font-size: 30px;
}

.image-wrapper{
    overflow: auto;
    scroll-snap-type:x;
    display: flex;
}

.review-image{
    width: 30%;
}

.back a, .edit a, .store_edit a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    background-image: linear-gradient(#808080, #C0C0C0, #FFFFFF);
    border-radius: 50vh;
    transition: 0.3s;
    margin-left: 30px;
}

.back a{
    width: 250px;
    margin-bottom: 50px;
}

.back a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
}

.back a:hover {
    text-decoration: none;
    background-image: linear-gradient(#C0C0C0, #808080, #444444);
}

/*google map api*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  width: 80%;
  height: 800px;
  margin: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}